@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --accordion-height: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500&display=swap');


.selectedSize {
  border: 2px solid #0057fc !important;
}

.AccordionContent {
  overflow: hidden;
  font-size: 15px;
  max-height: 0;
}

.AccordionContent[data-state="open"] {
  animation: slideDown 400ms cubic-bezier(0.87, 0, 0.13, 1);
  animation-fill-mode: forwards;
  max-height: var(--accordion-height);
}
.AccordionContent[data-state="closed"] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
  animation-fill-mode: forwards;
  max-height: 0;
}


.bg-shape {
  background-position: 4% 0;
}

@keyframes slideDown {
  from {
    max-height: 0;
  }
  to {
    max-height: var(--accordion-height);
  }
}

@keyframes slideUp {
  from {
    max-height: var(--accordion-height);
  }
  to {
    max-height: 0;
  }
}
